aiohttp==3.12.13
beautifulsoup4
fastapi
jose
livekit
livekit-agents[deepgram,openai,cartesia,silero,turn-detector]
livekit-plugins-noise-cancellation
livekit_api
livekit_protocol
numpy
openai
passlib
psycopg2
pydantic[email]
pydantic
PyJWT
python-docx
python-dotenv
python-multipart
python_jose
pytz
PyMuPDF
requests
SQLAlchemy
starlette
uvicorn
bcrypt
