aiohttp==3.12.13
beautifulsoup4==4.13.4
fastapi==0.115.13
itsdangerous==2.2.0
jose==1.0.0
livekit==1.0.9
livekit-agents[deepgram,openai,cartesia,silero,turn-detector]==1.1.6
livekit-agents[elevenlabs]==1.1.6
livekit-plugins-noise-cancellation==0.2.4
livekit_api==1.0.2
livekit_protocol==1.0.3
numpy==2.2.6
openai==1.88.0
passlib==1.7.4
psycopg2==2.9.10
pydantic[email]==2.11.7
PyJWT==2.10.1
python-docx==1.2.0
python-dotenv==1.1.1
python-multipart==0.0.20
python_jose==3.5.0
pytz==2025.2
PyMuPDF==1.26.3
requests==2.32.4
SQLAlchemy==2.0.41
starlette==0.46.2
twilio==9.6.5
uvicorn==0.35.0
bcrypt==4.3.0
